body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 1.8;
    overflow-y: scroll;
}

/*
*   For the kbd-tags I just the styling by stackoverflow
*   https://meta.stackoverflow.com/questions/382481/how-do-i-format-an-arrow-key-input
*/

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e1e3e5;
    border: 1px solid #adb3b8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #fff inset;
    white-space: nowrap;
}

/* Full height image header */

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/crypt_render.png");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

/*
* WebGl Styles
*/

.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0
}

.webgl-content {
    /*
    *   Original Settings
    */
    /*
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
}

.content-wrapper {
    position: relative;
    display: block;
}

.content-wrapper:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 62.5%;
}

#dwldButton {
    display: none;
    position: sticky; 
    bottom: 0;
    /*
    *   The following is a little hack, in order to get imposed padding of parent class (w3-row-padding).
    *   Goal here is the button to be full width.
    *   Hack found at https://stackoverflow.com/questions/4296530/ignore-parent-padding
    */
    margin-left: -8px;
    width: calc(100% + 16px);
}

#unityContainer {
    /*
    * Width and height (aspect-) ratio is being expressed in .webgl-content:before
    * Below is for documentation-reasons the original ratio.

    width: 960px; 
    height: 600px;
    */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#imprint {
    padding:40px 20% 40px 20%;
}

.webgl-content .logo, .progress {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.webgl-content .logo {
    background: url('progressLogo.Light.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}

.webgl-content .progress {
    height: 18px;
    width: 141px;
    margin-top: 90px;
}

.webgl-content .progress .empty {
    background: url('progressEmpty.Light.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full {
    background: url('progressFull.Light.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

.webgl-content .logo.Dark {
    background-image: url('progressLogo.Dark.png');
}

.webgl-content .progress.Dark .empty {
    background-image: url('progressEmpty.Dark.png');
}

.webgl-content .progress.Dark .full {
    background-image: url('progressFull.Dark.png');
}

.webgl-content .footer {
    margin-top: 5px;
    height: 38px;
    line-height: 38px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 18px;
}

.webgl-content .footer .webgl-logo, .title, .fullscreen {
    height: 100%;
    display: inline-block;
    background: transparent center no-repeat;
}

.webgl-content .footer .title {
    margin-right: 10px;
    float: right;
}

.webgl-content .footer .fullscreen {
    background-image: url('fullscreen.png');
    width: 38px;
    float: left;
}